.user-graph {
    background-color: var(--unpaws-color);
    border-radius: var(--border-radius-lg);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .graph-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .graph-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .bar-wrapper {
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .bar {
    width: 24px;
    transition: height 0.3s ease;
  }
  
  .bar.students {
    background-color: var(--primary-color);
  }
  
  .bar.professionals {
    background-color: var(--secondary-color);
  }
  
  .date-label {
    margin-top: 5px;
    font-size: 12px;
  }
  
  .legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .legend-color.students {
    background-color: var(--primary-color);
  }
  
  .legend-color.professionals {
    background-color: var(--secondary-color);
  }