.error-404-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 0 20px;
  background-color: var(--brand-color);
}

.error-404-logo {
  width: 200px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.error-404-title {
  color: var(--dark-color);
  margin-bottom: 10px;
  font-weight: 900;
}

.error-404-subtitle {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-color);
  margin-bottom: 30px;
}

.error-404-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 900 !important;
  text-transform: none !important;
  background-color: transparent !important;
  border: 2px solid var(--dark-color) !important;
  padding: 10px 20px !important;
  color: var(--dark-color) !important;
}

.error-404-button-icon {
  margin-right: 8px;
}

@media (max-width: 600px) {
  .error-404-icon {
      font-size: 80px;
  }

  .error-404-title {
      font-size: 24px;
  }

  .error-404-subtitle {
      font-size: 16px;
  }
}