/* Typography */

@import '../variables.css';

h1, h2, h3, h4, h5, h6, p, a {
	margin: 0;
	padding: 0;
	color: var(--primary-text-color);
	font-family: 'Kanit', sans-serif;
}

h1 {
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-bold);
}

h2 {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-bold);
}