@import './ui/Typography.css';

body {
	font-family: 'Montserrat', sans-serif;
	background-color: var(--theme-color);
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
}

.theme-button {
    
}