@import url('https://fonts.googleapis.com/css2?family=Sail&family=Montserrat:wght@300&display=swap');
@import '../variables.css';

:root {
  --sidebar-width: 250px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.sidebar-logo-title {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  position: relative;
}

.sidebar-logo {
  width: 40px;
  height: auto;
}

.sidebar-title {
  font-family: 'Sail', cursive;
  font-size: 24px;
  color: var(--brand-color);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-title-complement {
  font-family: 'Roboto', sans-serif;
  font-size: var(--space-xs);
  color: var(--light-color);
  font-weight: bolder;
  letter-spacing: 0.3px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--dark-color);
  box-shadow: 0 5px 10px var(--space-xs) var(--shadow-color);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu a {
  display: flex;
  align-items: center; 
  gap: var(--space-xs);
  padding: var(--space-sm) var(--space-md);
  color: var(--brand-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.sidebar-menu a:hover,
.sidebar-menu a.active {
  background-color: var(--highlight-color);
  color: var(--inverted-color);
}

.logout-button {
  display: flex;
  align-items: center; 
  gap: var(--space-xs);
  padding: var(--space-sm) var(--space-md);
  color: var(--brand-color) !important;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bold;
  margin: auto;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.logout-button:hover {
  background-color: var(--highlight-color);
  color: var(--inverted-color) !important;
}

@media (max-width: 768px) {
  .sidebar-header {
    align-items: center;
  }

  .sidebar-logo {
    width: 30px;
  }

  .sidebar-title {
    font-size: 20px;
  }
}