.sparkles-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
  }
  
  .sparkles-container svg {
    position: absolute;
    animation: fall 1s linear forwards;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
}