:root {
  --dark-color: #333333;
  --light-color: #fffaf5;
  --primary-color: var(--dark-color);
  --secondary-color: var(--light-color);
  --highlight-color: #ffc107;
  --success-color: #28a745;
  --info-color: #076eff;
  --warning-color: #ffc107;
  --error-color: #dc3545;
  --shadow-color: #3333333a;

  --primary-text-color: var(--dark-color);
  --secondary-text-color: #fffaf5;

  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --table-border-color: #474747;

  --space-xs: 12px;
  --space-sm: 24px;
  --space-md: 48px;
  --space-lg: 96px;

  --button-padding: var(--space-xs) var(--space-sm);

  --body-color: var(--light-color);
}

[data-theme="dark"] {
  --primary-color: var(--light-color);
  --primary-text-color: var(--light-color);
  --secondary-color: var(--dark-color);
  --secondary-text-color: #151515;
  --table-border-color: #ebe8e8;
  --shadow-color: #fffaf551;
  --body-color: var(--dark-color);
}

body {
  background-color: var(--body-color) !important;
  color: var(--primary-text-color) !important;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

.bold-text {
  font-weight: bold;
}

Button {
  background-color: var(--primary-color) !important;
  color: var(--secondary-text-color) !important;
  border-radius: var(--border-radius-lg);
  padding: var(--button-padding);
}

Button.success {
  background-color: var(--success-color) !important;
}

Button.info {
  background-color: var(--info-color) !important;
}

Button.error {
  background-color: var(--error-color) !important;
}

.highlighted-button {
  background-color: var(--secondary-color) !important;
  color: var(--primary-text-color) !important;
  border-radius: var(--border-radius);
  padding: var(--button-padding);
}

.theme-button {
  margin-bottom: var(--space-sm);
  border-radius: 50%;
  aspect-ratio: 1;
  border: none !important;
  transition: all 0.2s ease-in-out;
}

.theme-button:hover {
  border: none !important;
  opacity: 0.8;
}

Icon.success {
  color: var(--success-color) !important;
}

.table-container {
  overflow-x: auto;
  max-width: 80vw;
  scrollbar-width: none;
  border-radius: var(--border-radius-lg) !important;
  box-shadow: 0 5px var(--space-xs) var(--shadow-color);
  margin-block: var(--space-sm);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding-block: calc(var(--space-xs) * 2/3);
  padding-inline: var(--space-xs);
  white-space: nowrap;
}

table th {
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.th-children {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xs);
}

table th:hover {
  background-color: var(--highlight-color);
  color: var(--dark-color) !important;
}

table td {
  border: 1px solid var(--table-border-color);
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xs);
  height: var(--space-md);
}

.table-actions Button {
  background-color: var(--highlight-color) !important;
  color: var(--dark-color) !important;
  margin: 0 !important;
  height: 100%;
}

.action-buttons {
  display: flex;
  gap: var(--space-xs);
}

.search-input {
  margin: 0 0 0 var(--space-xs) !important;
  max-width: 25%;
  background-color: var(--secondary-color) !important;
  color: var(--dark-color) !important;
}

.search-input * {
  color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.pagination-controls {
  display: flex;
  gap: var(--space-xs);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  background-color: var(--secondary-color);
  border: 0 solid transparent;
  border-radius: var(--border-radius-md);
  box-shadow: var(--space-sm);
  padding: var(--space-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.modal-title {
  margin-bottom: var(--space-sm);
  font-weight: bold !important;
  text-transform: uppercase;
}

.modal-form {
  color: var(--primary-text-color) !important;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.modal-form-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.modal-form-group label {
  font-weight: bold;
}

.modal-form-group div {
  display: flex;
  gap: var(--space-sm);
  margin: 0;
}

label {
  color: var(--primary-text-color) !important;
}

.modal-input fieldset {
  border-color: var(--primary-text-color) !important;
}

.modal-actions {
  margin-top: var(--space-sm);
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-end;
}

.modal-button {
  margin-right: calc(var(--space-xs) * 2/3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}