.numeric-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat-item {
  background-color: var(--unpaws-color);
  border-radius: var(--border-radius-lg);
  padding: 1rem;
  margin: 0.5rem;
  flex: 1;
  min-width: 150px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--primary-color);
}

.stat-content {
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.stat-label {
  font-size: 0.9rem;
  color: var(--inverted-color);
}